# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://enndykuvvxornlnhhqgq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubmR5a3V2dnhvcm5sbmhocWdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NDEzODcsImV4cCI6MjA4ODMxNzM4N30.OPg1I4rzxcZJkeebCqX72uv4WKZqOm2R1hwxFEMu1A8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubmR5a3V2dnhvcm5sbmhocWdxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjc0MTM4NywiZXhwIjoyMDg4MzE3Mzg3fQ.UfpIO54PuNIybrXoR6_SRgGmSDIB62aUtNH3EnSQtPg

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Pelican AI
PEL_API_URL:https://pelican-trading-api-test.fly.dev
PEL_API_KEY:4f18d3dd8ff92c358017d416d2f7ed13debd8166922423e1747d9f0e202c3075
NEXT_PUBLIC_BACKEND_URL:https://pelican-trading-api-test.fly.dev

# SnapTrade
SNAPTRADE_CLIENT_ID=PELICAN-TRADING-LLC-TEST-AKUOL
SNAPTRADE_CONSUMER_KEY=pKMZlcBoEvtU9zjEUjrGoMJWV1M9tHk3sGM2PbhDGnDIefQwYp

# Crypto Data
COINGECKO_API_KEY=
COINALYZE_API_KEY=
MORALIS_API_KEY=
HELIUS_API_KEY=

# Infrastructure
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=
SENTRY_DSN=
